.header {
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLogo {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;

  span {
    font-size: 2.4rem;
    text-transform: uppercase;
  }

  img {
    width: 80px;
    height: 80px;
  }
}

.headerLogo:hover {
  color: #f9572a;
}

.headerNavbar {
  ul {
    list-style: none;
    display: flex;
    gap: 32px;
    font-size: 2rem;
  }
}
